body {
    background-image: url("../imagenes/fifa21.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#title {
    font-size: 20px;
}
#logo {
    height: 80px; width: 80px;
}
.btn-fuchsia {
    background-color: fuchsia;
    color: white;
    border: solid; border-color: white;
}
@media (orientation: landscape){
    .btn-fuchsia {
        background-color: purple;
    }
    
}
ul li {
    list-style-type: none;
}
#button {
    margin-top: 35px;
}
#league-table {
    background-color: white;
    border: solid fuchsia;
}
.bg-light {
    background-color: #ffffff!important;
}
.decoration {
    background-color: magenta;
    height: 10px;
    margin-left: 25px; margin-right: 25px;
}
#card-login{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}
